html, body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    background: #37474f;

    color: white;
}

nav.navbar > * {
    padding: 24px 20px;
}

.navbar > .navbar-name {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.navbar > .content {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.content > .navbar-link {
    float: left;
    text-decoration: none;
}

.content > .navbar-link > a {
    color: white;
    text-decoration: none;
    padding: 26px 20px;

    transition: 1000ms background-color;
}

.content > .navbar-link > a:hover {
    background: rgba(0, 0, 0, .5);
    transition: 1000ms background-color;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.profile-card {
    display: inline-block;

    width: 100%;
    height: 80vh;
    line-break: auto;
    word-wrap: break-word;

    margin-bottom: 20px;

    border: 1px solid darkgray;
    border-top: 0;
}

.profile-card-header {
    width: 100%;
}

.profile-boxes {
    display: inline-block;
    margin: 7px 0;

    width: 50%;
    height: 80vh;
}

.profile-intro-box:first-child {
    margin-top: 10px;
}

.profile-intro-box {
    display: inline-block;

    width: 100%;
    min-height: 30px;

    line-break: auto;
    word-wrap: break-word;

    margin: 15px 5px;

    background: none;
    border: 2px solid #37474f;
    color: #37474f;
}

@media (min-width: 900px) {
    .container {
        width: 810px;
    }
}

nav.navbar-fixed {
    position: fixed;
    width: 100%;
}

@media (max-width: 960px) {
    nav.navbar {
        justify-content: space-between;
    }

    .hide-on-small * {
        display: none;
    }

    .navbar-name {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .hide-text-on-small {
        display: none;
        width: 0;
        padding: 0;
        font-size: 0;
    }

    .navbar-link > a {
        padding: 0 0 0 0 !important;
    }
}

@media (min-width: 960px) {
    .display-only-small {
        display: none;
        font-size: 0;
    }

    .profile-card {
        width: 48%;
        margin: 15px 5px;
    }

    .profile-card-header {
        width: 100%;
    }
}