@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

html, body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    background: #37474f;

    color: white;
}

nav.navbar > * {
    padding: 24px 20px;
}

.navbar > .navbar-name {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.navbar > .content {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.content > .navbar-link {
    float: left;
    text-decoration: none;
}

.content > .navbar-link > a {
    color: white;
    text-decoration: none;
    padding: 26px 20px;

    transition: 1000ms background-color;
}

.content > .navbar-link > a:hover {
    background: rgba(0, 0, 0, .5);
    transition: 1000ms background-color;
}

.ghost-button {
    display: inline-block;

    padding: 10px 15px;
    margin-bottom: 5px;

    transition: 1s;

    color: #37474f;

    border: 2px solid #37474f;

    text-decoration: none;
    background: none;

    cursor: pointer;
}

.ghost-button:hover {
    transition: 1s;

    background: #37474f;
    color: white;
}

.profile-intro-box .ghost-button {
    font-size: 80%;
    padding: 10px 18px;
}

.ghost-button > span:first-child:after {
    content: '';
    padding-right: 7px;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.profile-card {
    display: inline-block;

    width: 100%;
    /*min-height: 80vh;*/
    min-height: 100%;
    line-break: auto;
    word-wrap: break-word;

    margin-bottom: 70px;

    border: 1px solid darkgray;
    border-top: 0;
}

.profile-card-header {
    width: 100%;
}

.profile-boxes {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;

    margin: 7px 0;

    width: 94%;
    /*min-height: 80vh;*/
    min-height: 100%;
}

.profile-intro-box:first-child {
    margin-top: 10px;
}

.profile-intro-box {
    display: inline-block;

    width: 100%;
    min-height: 30px;

    line-break: auto;
    word-wrap: break-word;

    margin: 15px 5px;
    padding: 10px 12px;

    background: none;
    border: 1px solid #37474f;
    color: #37474f;
}

.profile-box-link:hover {
    transition: color 900ms;
    color: #18ffdf;
}

.profile-box-header {
    display: block;
    font-size: 24px;
    font-weight: bold;

    margin-top: 7px;
    margin-bottom: 16px;
}

.profile-box-content {
    display: block;
    font-size: 13px;

    margin-bottom: 26px;
}

.profile-box-link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 15px;
}


.recent-post-list {
    width: 100%;
}

.recent-post-header {

}

@media (min-width: 1000px) {
    .container {
        width: 900px;
    }
}

nav.navbar-fixed {
    position: fixed;
    width: 100%;
}

@media (max-width: 960px) {
    nav.navbar {
        justify-content: space-between;
    }

    .hide-on-small * {
        display: none;
    }

    .navbar-name {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .hide-text-on-small {
        display: none;
        width: 0;
        padding: 0;
        font-size: 0;
    }

    .navbar-link > a {
        padding: 0 0 0 0 !important;
    }

    .profile-intro-box {
        width: 98%;
        border-left: 0;
        border-right: 0;
        margin: 0 0 15px;
    }

    .profile-intro-box:nth-child(n+2) {
        border-top: 0;
    }
}

@media (min-width: 960px) {
    .display-only-small {
        display: none;
        font-size: 0;
    }

    .profile-card {
        width: 48%;
        margin: 15px 5px;
    }

    .profile-boxes {
        width: 48%;
    }

    .profile-card-header {
        width: 100%;
    }
}