.btn-back-main {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding-right: 8px;
}

.btn-back-main > i:first-child {
    margin-right: 12px;
    display: inline-block;
    font-size: 85%;
}

.project-container {
    margin-top: 15px;

    width: 100%;
    background: #FFF;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 70px 0;
    color: inherit;
    text-align: center;

    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #37474f;
}

.project-container::first-letter {
    font-size: 160%;
}

.project-content {
    padding: 20px 25px;
    line-break: auto;
    word-break: break-all;
}


.project-lists {

}

.project-lists > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding-bottom: 10px;
    margin-bottom: 70px;

    position: relative;
}

.project-lists > a:nth-child(even) {
    margin-right: auto;
    text-align: right;
}

.project-intro-content {
    display: inline-block;
}

.project-lists > a:nth-child(even) > .project-intro-content {
    text-align: right;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 15px;
}

.project-lists > a:nth-child(even) > .ghost-button {
    left: 0;
    position: absolute;
}


.project-lists > a:nth-child(odd) {
    margin-left: auto;
    text-align: left;
}

.project-lists > a:nth-child(odd) > .project-intro-content {
    padding-left: 37px;
    margin-top: 15px;
}

.project-lists > a:nth-child(odd) > .ghost-button {
    right: 0;
    position: absolute;
}


.project-intro-header {
    font-size: 150%;
    font-weight: bold;
}

.project-intro-header > i {
    display: inline-block;
    font-size: 90%;
    padding: 0 7px;
}