$nav-height: 7rem;
$primary-color: #7B64F0;
$primary-soft-color: #7B64F080;
$primary-scroll-color: #7B64F040;

$hr-height: 40px;

sup {
  font-size: 1rem;
  align-self: flex-start;
  line-height: normal;
}

.header {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.sub-header {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 500;
}

.link {
  text-decoration: underline;
  color: $primary-color !important;
  //align-items: center;
  background-size: 200% !important;
  background: linear-gradient(to left, transparent 50%, $primary-scroll-color 50%) right;
  transition: 0.5s;

  a {
    color: $primary-color !important;
  }

  &:hover {
    background-position: left;
  }

  & > * {
    display: inline;
  }
}

//.detail {
//  //display: block;
//}

.detail-value {
  margin-left: .5rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

ul {
  display: block !important;
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

li,.detail {
  display: block;
  word-break: break-all;
  line-height: 2.4rem;
  margin-left: 1rem;

  &.none::before {
    display: none;
    content: " ";
  }

  & > * {
    display: inline;
  }
}

li::before {
  content: "•";
  color: $primary-soft-color;
  font-size: 1.5rem;
  display: inline-block;
  margin-left: -1rem;
  font-weight: 900;
  width: 1rem;
}

.mdi {
  margin-left: 0.3rem;

  &.up {
    position: relative;
    padding-right: 1rem;
    //margin-top: 0.3rem;
    //display: inline-flex;
    //align-items: flex-start;
    //align-self: flex-start;
    //height: 100%;

    & > svg {
      position: absolute;
      top: 0.5rem;
    }
  }
}
